/* -----------------------------------------------------------------------------

  COMPENENTS - RATING

----------------------------------------------------------------------------- */
.c-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-rating__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50px;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  height: 50px;
  width: 50px;
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
  background: url("../img/stars.svg") no-repeat;
  background-position: 0 0;
  background-size: cover;
  cursor: pointer;
}

.c-rating__item:hover,
.c-rating__item.is-active {
  background-position: -50px 0;
}
